<ion-content>
  <ion-header>
  <ion-toolbar>
      <ion-icon (click)="Back()" color="primary" slot="start" name="arrow-undo-outline" class="back"></ion-icon>
      <ion-title>Anexo 2</ion-title>
  </ion-toolbar>
</ion-header>
<div id="Context">
<div>
<header class="Cabecalho">
    <div id="LogoImg">
        <img class="ImgInterative" src="assets/LOGO_CEPELMA.png" alt="logotipo cepelma" width="80px"heigth="80px">
    </div>
    <h1>Cepelma Industria Artefatos de Papel LTDA - EPP </h1>
    <h2>REQUISITOS OBRIGATORIOS PARA ADMISSÃO </h2>
    <h3><small>Atualizado 06/08/2020</small></h3>
</header>
</div>

<main>
  <ol type="1">

     <h4>
         <li>
             DOS REQUISITOS OBRIGATORIOS PARA ADMISSÃO.
         </li>
     </h4>
     <ion-item text-wrap>
         Serão documentos necessários para admissão de novos colaboradores:
     </ion-item>
     <ul>
         <li>
               Carteira de Trabalho e Previdência Social - CTPS, para fins de realização das anotações devidas
         </li>
         <li>
               Certificado Militar: prova de quitação com o serviço militar (para os maiores de 18 anos);
         </li>
         <li>
               Certidão de Casamento e de Nascimento dos filhos, que servirão para a verificação de dados, concessão do salário-família e abatimento dos dependentes para efeito do Imposto de Renda;
         </li>
         <li>
               Declaração de dependentes para fins de Imposto de Renda na fonte;
         </li>
         <li>
               Atestado Médico Admissional;
         </li>
         <li>
               Declaração de rejeição ou de requisição do vale transporte ;
         </li>
         <li>
               Demais documentos complementares: 
         </li>
         <ul>
             <li>	Cédula de identidade (RG), </li>
             <li>	CPF, </li>
             <li>	Cartão PIS/PASEP (Programa de Integração Social).</li>
             <li>	Ficha de Registro Preenchida</li>

         </ul>
         <li>
               Certidão e regularidade da justiça eleitoral
         </li>
         <li>
               Certidão de Regularidade do CPF
         </li>
     </ul>
     <ion-item text-wrap>
         A falta destes documentos ou a irregularidade dos mesmos, pode ser responsável por impedir a contratação do empregado.
     </ion-item>
     <ion-item text-wrap>
         A empresa Cepelma Industria artefatos de papel LTDA, poderá prorrogar caso seja de seu, o prazo de entrega destes documentos interesse. O prazo máximo de prorrogação será de 45 dias.
     </ion-item>
     <ion-item text-wrap>
         Após a verificação e Registro dos dados do funcionário nos sistemas internos da empresa, as copias de documentos entregues serão devolvidas ao funcionário para garantir a segurança e a privacidade das informações pessoais do funcionário no prazo de 5 dias do recebimento destes.
     </ion-item>
     <h4>
         <li>
         DOS REQUISITOS GERAIS PARA ADMISSÃO
         </li>
     </h4>
     <ion-item text-wrap>
         O empregado deve receber ler e se declarar ciente dos documentos internos que regulamentam as normais internas e de convívio, bem como os documentos para controle administrativo interno dos processos e solicitações, não sendo o funcionário obrigado a aderir aqueles que alterem sua folha de pagamento sendo estes na sua descrição optativos. Os referidos documentos são:
     </ion-item>
     <ul>
         <li>
             Ficha de Admissão (proprio punho)
         </li>
         <li>
               Contrato de experiencia
         </li>
         <li>
               Prorrogação do contrato de experiencia (caso tenha)
         </li>
         <li>
               Termo de ciência e adesão a norma interna de filmagens e fotos do sistema e segurança.
         </li>
         <li>
               Acordo coletivo com sindicato, celebrado durante contrato de trabalho [optativo].
         </li>
         <li>
               Regulamentos internos e anexos referentes a ele.
         </li>
         <li>
               Solicitação de vale transporte.
         </li>
         <li>
               Solicitação e adesão de convênios.
         </li>
         <li>
               Cp’s e demais controles internos de comunicação adotados pela direção do setor de produção. 
         </li>
         <li>
               Acordo de fornecimento de cesta básica.
         </li>
         <li>
             Termo de ciência de jornada de Trabalho
         </li>
         <li>
             Autorização de desconto em Folha de pagamento
         </li>

     </ul>
     <ion-item text-wrap>
         Dentre as normas burocráticas administrativas já citadas nos parágrafos anteriores, são requisitos gerais de contratação:
     </ion-item>
     
         <li>
               Zelo pelo setor de trabalho, bem como pelas ferramentas necessárias para execução das atividades diárias.
         </li>
         <li>
               Cuidado e zelo com patrimônio de terceiros dentro das dependências da empresa.
         </li>
         <li>
               Asseio e cuidados básicos de natureza higiênica pessoal.
         </li>
         <li>
               Respeito as individualidades de cada colaborador.
         </li>
         <li>
               Educação e Ética no trato pessoal com demais colaboradores fornecedores e clientes.
         </li>
         <li>
               Respeitar os limites de acesso a áreas e dependências delimitados nas dependências da empresa.
         </li>
     
     <ul>

     </ul>
  </ol>
</main>
</div>>
</ion-content>