<ion-content>
  <ion-header>
      <ion-toolbar>
          <ion-icon (click)="Back()" color="primary" slot="start" name="arrow-undo-outline" class="back"></ion-icon>
          <ion-title>Anexo 3</ion-title>
      </ion-toolbar>
  </ion-header>
  <div id="Context">
  <div>
    <header class="Cabecalho">
        <div id="LogoImg">
            <img class="ImgInterative" src="assets/LOGO_CEPELMA.png" alt="logotipo cepelma" width="80px"heigth="80px">
        </div>
        <h1>Cepelma Industria Artefatos de Papel LTDA - EPP </h1>
        <h2>ANEXO 03 – DO REGULAMENTO INTERNO </h2>
        <h3><small>Atualizado 06/08/2020</small></h3>
    </header>
</div>
<hr>
<ol type="1">
  <ion-item text-wrap>
      Para se manter a ordem e a disciplina no ambiente de trabalho, o empregador possui a faculdade de aplicar determinadas penalidades, mas dentro de um senso justo e moderado, uma vez que a CLT protege o trabalhador contra as arbitrariedades que ocorrer por parte do empregador.
  </ion-item>
  <li>
      <h4>
          ADVERTÊNCIA       
      </h4>
  </li>
  <ion-item text-wrap>
      A advertência é um aviso ao empregado para que ele tome conhecimento do seu comportamento ilícito e das implicações que podem advir em caso de reincidência. Ele estará tomando ciência que seu contrato de trabalho poderá até ser rescindido por justa causa se não houver uma reiteração do seu comportamento.
  </ion-item>
  <ion-item text-wrap>
      A advertência poderá ser aplicada verbalmente, mas recomenda-se, por cautela, fazê-la por escrito, pois eventualmente poderá necessitar-se de fazer comprovação futura.
  </ion-item>
  <li>
      <h4>
          SUSPENSÃO
      </h4>
  </li>
  <ion-item text-wrap>
      A suspensão disciplinar atua como penalidade dada ao empregado como uma medida mais drástica.
  </ion-item>
  <ion-item text-wrap>
      A suspensão visa disciplinar, resgatar o comportamento do empregado conforme as exigências da empresa. Ela pode ocorrer após advertências ou até mesmo logo após o cometimento de uma falta. Esta falta terá que ser bastante grave, pois haverá prejuízo ao empregado e ao empregador.
  </ion-item>
  <ion-item text-wrap>
      Haverá prejuízo salarial ao empregado, uma vez que ele perde a remuneração correspondente aos dias de suspensão e a do descanso semanal remunerado correspondente, pois se trata de falta injustificada; e o empregador será prejudicado no que diz respeito à prestação dos serviços.
  </ion-item>
  <ol type="A">
<li>
  REQUISITOS ESSENCIAIS
</li>
<ion-item text-wrap>
  O empregador deverá observar determinados requisitos no momento da aplicação da penalidade:
</ion-item>
<ol type="i">
<li>
  <strong>Atualidade da punição: </strong> a punição sempre deve ser imediata, exceto quando a falta cometida requeira apuração de fatos e das responsabilidades para se punir. A demora na aplicação da penalidade pode caracterizar perdão tácito do empregador;
</li>
<li>
  <strong>Proporcionalidade:</strong> neste item impera o bom senso do empregador para dosar a pena merecida pelo empregado devido ao ato faltoso. Deve-se considerar o seguinte:
</li>
<ul>
  <li>
      o passado funcional do empregado (se já cometeu outros atos faltosos);
  </li>
  <li>
      os motivos determinantes para a prática da falta;
  </li>
  <li>
      a condição pessoal do empregado (grau de instrução, necessidade, etc.).
  </li>
</ul>
<li>
  <strong>Penas pecuniárias e transferências: </strong>não se admite a instituição de penas pecuniárias (multas), e nem as transferências punitivas. <strong>Não se enquadram neste item, quebras de caixa, quebra perda ou roubo de EPIS ou patrimônio da empresa.</strong>
</li>
</ol>
<br>
<li>
  FÉRIAS
</li>
<ion-item text-wrap>
  Como a Suspensão Disciplinar é tida como ausência injustificada ao serviço, acarreta então a redução do período de gozo de férias, conforme determina o artigo 130 da CLT, ou seja
</ion-item>

<ion-item text-wrap>
  Art. 130 - Após cada período de 12 (doze) meses de vigência do contrato de trabalho, o empregado terá direito a férias, na seguinte proporção:
</ion-item>
<ion-item text-wrap>
  I - 30 (trinta) dias corridos, quando não houver faltado ao serviço mais de 5 (cinco) vezes;
</ion-item>
<ion-item text-wrap>
  II - 24 (vinte e quatro) dias corridos, quando houver tido de 6 (seis) a 14 (quatorze) faltas
</ion-item>
<ion-item text-wrap>
  III - 18 (dezoito) dias corridos, quando houver tido de 15 (quinze) a 23 (vinte e três) faltas; 
</ion-item>
<ion-item text-wrap>
  IV - 12 (doze) dias corridos, quando houver tido de 24 (vinte e quatro) a 32 (trinta e duas) faltas.
</ion-item>
<ion-item text-wrap>
  § 1º - É vedado descontar, do período de férias, as faltas do empregado ao serviço.
</ion-item>
<ion-item text-wrap>
  § 2º - O período de férias será computado, para todos os efeitos, como tempo de serviço.
</ion-item>

<br>
<li>
  13º SALÁRIO
</li>

<ion-item text-wrap>
  Se o período correspondente à suspensão disciplinar for igual ou superior a quinze dias, dentro do mesmo mês, o empregado deixará de receber 1/12 referentes ao 13º salário.
</ion-item>

<li>
  CESTA BASICA
</li>
<ion-item text-wrap>
  Qualquer das penalidades aplicadas resultara na perda da sexta do período, em que for aplicada a penalidade
</ion-item>

<li>
  RECUSA DO EMPREGADO EM RECEBER A PENALIDADE
</li>

<ion-item text-wrap>
  O empregado que, ao receber a penalidade, sem justo motivo, se recusar a dar ciência, o empregador ou seu representante deverá ler ao empregado o teor da comunicação, na presença de duas testemunhas.
</ion-item>

<ion-item text-wrap>
  Após as duas testemunhas ouvirem a leitura, deverá se inserir no rodapé da comunicação, uma observação:
</ion-item>
<ion-item text-wrap>
  <em>
      "em virtude da recusa do empregado em dar ciência do recebimento desta comunicação, seu conteúdo foi lido por mim (nome da pessoa), na sua presença e na das testemunhas abaixo, em .../.../.... (data)”
  </em>
</ion-item>
<li>
  DURAÇÃO DA SUSPENSÃO
</li>
<ion-item text-wrap>
  A Suspensão Disciplinar, por disposição legal (artigo 474 da CLT), não pode ser superior a 30 (trinta) dias consecutivos.
</ion-item>

  </ol>
</ol>
<br>
</div>>
</ion-content>