<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="danger">
        Sair
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Pagamentos - Lote</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-item>
  <ion-label position="floating" color="primary">Periodo</ion-label>
  <ion-input type="text"  name="Nome" [(ngModel)]="Periodo" value="{{Periodo}}" [brmasker]="{mask:'00/0000', len:7}"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="primary">Tipo</ion-label>
  <ion-select [(ngModel)]="Tipo" name="Tipo" value="Tipo" multiple="false" placeholder="Selecione um tipo">
    <ion-select-option  name="Tipo" value="Pagamento">Pagamento</ion-select-option>
    <ion-select-option name="Tipo" value="Adiantamento">Adiantamento</ion-select-option>
    <ion-select-option name="Tipo" value="DecimoTerceiro">Decimo Terceiro</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-icon slot="start" name="add"></ion-icon>
  <ion-button expand="block" fill="clear" shape="round">
  <input [formControl]="file" (change)="fileChange($event)" type="file" class="file_customizada" multiple="multiple" accept="Application/zip">
  </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="uploadFile()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="send-outline"></ion-icon>
      Enviar
    </ion-button>
  </ion-item>
</ion-content>