<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="closeModal()">
        <ion-icon color="light" slot="start" name="return-up-back-outline" class="back"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button color="tertiary" (click)="GoenCC()">
        <ion-icon slot="start" name="add-circle"></ion-icon>Adicionar
        </ion-button>
    </ion-buttons>
    <ion-title color="primary">Ferias avisadas</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true" autocomplete
  ></ion-searchbar>
<ion-content class="ion-padding transparent">
  <ion-content class="transparent" >
    <ion-list class="transparent" *ngFor="let ferias of Ferias_prog | filter:filterTerm">
      <ion-item-sliding class="transparent" >
        <ion-item class="transparent"> 
          <ion-label class="transparent">
          <h3 class="title transparent">{{ferias.Funcionario}}</h3>
          <p class="subtext transparent ion-text-uppercase tertiary">{{ferias.Tipo_Ferias}}, {{ferias.Dias}} DIAS</p>
          <p class="subtext transparent"> Data de inicio das Férias: <strong class="tertiary">{{ferias.Inicio_perioro}}</strong></p>
          <p class="subtext transparent"> Data de Termino das Férias: <strong class="tertiary">{{ferias.Termino_periodo}}</strong></p>
          <p class="subtext transparent"> Data de Retorno ao Trabalho: <strong class="tertiary">{{ferias.Retorno}}</strong></p>
          <ion-button (click)="Ver(ferias.Aviso_de_Ferias)" expand="block" fill="clear" shape="round">
            Visualizar Aviso de férias
          </ion-button> 
          <label class="Gren" for="Fill{{ferias.seq}}">+ Adicionar Recibo!</label>
          <input [formControl]="file" id="Fill{{ferias.seq}}" (change)="fileChange($event,ferias.seq)" type="file" class="file_customizada"
          accept="Application/pdf" hidden>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
