.avatar{
    background-color: #3880ff;
    border: blue 1px solid;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}




ion-item {
    cursor: grab;
  }
  ion-item:active{
    cursor: grabbing;
  }