<ion-content>
  <ion-header>
      <ion-toolbar>
          <ion-icon (click)="Back()" color="light" slot="start" name="arrow-undo-outline" class="back"></ion-icon>
          <ion-title>Anexo 1</ion-title>
      </ion-toolbar>
  </ion-header>
  <div id="Context">
  <div>
    <header class="Cabecalho">
        <div id="LogoImg">
            <img class="ImgInterative" src="assets/LOGO_CEPELMA.png" alt="logotipo cepelma" width="80px"heigth="80px">
        </div>
        <h1>Cepelma Industria Artefatos de Papel LTDA - EPP </h1>
        <h2>ANEXO 01 – DO REGULAMENTO INTERNO </h2>
        <h3><small>Atualizado 06/08/2020</small></h3>
    </header>
</div>
<hr>
<main>
<ol type="1">
    <li>
        <h3>
            DOS ACOMPANHAMENTOS MEDICOS  
        </h3>
    </li>
    <ion-item text-wrap>
    <ol type="A">
            <li>
                Além das licenças já previstas em lei, a Empresa poderá conceder abono por motivo de emergência no acompanhamento a cônjuge ou companheiro, pais, filhos, padrasto ou madrasta, enteado ou dependente que viva às suas expensas, mediante avaliação pela Junta Médica.
            </li>
            <li>
                O atestado deverá ser apresentado ao departamento pessoal da empresa no prazo máximo de 2 dias contados da data do início do afastamento do funcionário, salvo motivo justificado.
            </li>
        </ol>
        </ion-item>
            <li>
                <h3>
                    Documentos necessários 
                </h3>
            </li>
            <ion-item text-wrap>
                Por ocasião do atendimento o funcionário e o familiar deverão apresentar documento comprobatório do grau de parentesco. Os documentos a serem apresentados são:
            </ion-item>
        <ol type="I">
                <li>
                    filhos: cópia da certidão de nascimento;
                </li>
                <li>
                    pais: cópia da carteira de identidade do funcionário;
                </li>
                <li>
                    cônjuge: cópia da certidão de casamento;
                </li>
                <li>
                    companheiro: declaração de união estável passada em cartório com duas testemunhas ou cópia da certidão de nascimento de filhos em comum.
                </li>
                <li>
                    enteados: cópia da certidão de casamento e cópia da certidão de nascimento do enteado; quando o funcionário não é casado deve ser apresentada uma declaração de união estável passada em cartório com duas testemunhas.
                </li>
                <li>
                    menor sob guarda: termo de guarda
                </li>
                <li>
                    padrasto ou madrasta: cópia da certidão de casamento do pai ou mãe e cópia da carteira de identidade do funcionário; não havendo casamento, deverá ser apresentada uma declaração de união estável, passada em cartório, com duas testemunhas e cópia da carteira de identidade do funcionário.
                </li>
                <li>
                    dependente que viva às expensas do funcionário: cópia da declaração do imposto de renda onde conste a dependência econômica, ou documento expedido pelo setor de recursos humanos informando que o dependente consta nos assentamentos funcionais do funcionário.
                </li>
                 
       
        </ol>
        <br>
        <ol type="a">       
        <li>
            Uma vez apresentada a documentação de dependência, não mais haverá a necessidade de comprovar grau de parentesco ou dependência em outras ocasiões de licença pelo mesmo familiar.
        </li>
        <br>
        <li>
            Na empresa deverá ser apresentado: atestado, emitido pelo médico que assiste o familiar ou boletim de atendimento em pronto socorro, 
        </li>
        <br>
        <li>
            A Empresa somente aceita documentos originais, sem rasuras, com carimbo e assinatura do médico. Atestados emitidos por familiares dos funcionários não serão aceitos pela Junta Médica.
        </li>
        <br>
        <li>
            Não é permitido interromper férias para requerer licença por motivo em doença em pessoa da família.
        </li>
        <br>
        <li>
            A licença somente será deferida se a assistência direta do funcionário for indispensável e não puder ser prestada simultaneamente com o exercício do cargo ou mediante compensação de horário.
        </li>
        <br>
        <li>
            A licença somente será deferida se a assistência direta do funcionário for indispensável e não puder ser prestada simultaneamente com o exercício do cargo ou mediante compensação de horário.
        </li>
        <ul>
            <li>
                respectivas as ausências. Após esse período deverá retornar ao trabalho.
            </li>
        </ul>
        <br>
        <ion-item text-wrap>
            <strong>Previsão Legal:</strong>
            <br>
            <ion-item text-wrap>Art. 81, inciso I, §§ 1º e 3º, c/c art. 82 c/c art. 83 da Lei nº 8.112, de 11/12/90, com a redação alterada pela Lei nº 9.527, de 10/12/97. Lei nº 12.269, de 21/06/10, que alterou o texto do §2º do artigo 83 da Lei nº 8.112/90
        </ion-item>
      </ion-item>
        <br>
        <li>
            Para efeitos desta norma se destacam apenas situações de emergência, onde o acompanhamento se vê em situação inadiável, onde não e possível a simultaneidade do comparecimento a empresa e ao acompanhamento do ente em atendimento médico. 
	<br> Ressaltamos que:
        </li>
        <ul>
            <li>
                Exames 
            </li>
            <li>
                Pericias 
            </li>
            <li>
                Consultas marcadas e ou 
            </li>
            <li>
                Atendimentos de rotina
            </li>
        </ul>
        <ion-item text-wrap>
            Assim como qualquer tipo de atividade que o funcionário tenha ciência com período antecipado ao agendado, devera ser comunicado com prazo mínimo de 10 dias ao superior imediato para avaliação das possibilidades e medidas a serem tomadas. Não sendo permitido a justificativa em tempo inábil e ficando assim as decisões da empresa pautadas no regulamento interno conhecido e assinado por cada colaborador. 
        </ion-item>
        <ul>
            <ion-item text-wrap><strong>
                O não cumprimento desta norma resulta nas sanções do Art. XIII do regulamento interno da empresa.
            </strong></ion-item>
        </ul>
    </ol>

    </ol>
<ion-item text-wrap>
    Ressalva <br>
    Este Regulamento não Elimina ou modifica nenhuma regra referente a Validade Do Artigo 473 da CLT, sendo apenas parte complementar da mesma facilitando o controle interno da empresa, e a garantia de direitos de ambas as partes
</ion-item>
<br>
</main>
<br>
</div>>
</ion-content>