.ImgPerf{
    align-items: center;
    text-align: center;
}

.PerfMIG{
    border-radius: 15px;
    border: 1px solid #3880ff;
    width: 20%;
}

.Hr{
    background-color: #b9cff5;
}

.centerText{
    text-align: center;
    align-items: center;
}