<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="danger">
        Sair
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Aviso de Ferias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating" color="primary">Funcionario:</ion-label>
    <ion-select multiple="false" interface="action-sheet" name="Funcionario" (ionChange)="teste($event);">
      <ion-select-option *ngFor="let funcionario of funcionarios"
        value="{{funcionario.Codigo + '/' + funcionario.Funcionarios }}">{{funcionario.Funcionarios}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">Tipo:</ion-label>
    <ion-select multiple="false" interface="action-sheet" name="Tipo" [(ngModel)]="Tipo_F">
      <ion-select-option value="Normal">Normais</ion-select-option>
      <ion-select-option value="Coletivas">Coletivas</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item hidden>
    <ion-label position="floating" color="primary">Codigo:</ion-label>
    <ion-input type="text" name="Codigo" [(ngModel)]="valueA" value="{{valueA}}"></ion-input>
  </ion-item>
  <ion-item hidden>
    <ion-label position="floating" color="primary">Nome:</ion-label>
    <ion-input type="text" name="Funcionario" [(ngModel)]="valueB" value="{{valueB}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary">Data de inicio</ion-label>
    <ion-input type="date" name="Inicio_perioro" [(ngModel)]="Inicio_perioro" value="{{Inicio_perioro}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary">Quantidade de dias</ion-label>
    <ion-input type="number" name="Dias" [(ngModel)]="Dias" value="{{Dias}}" min="5" max="30"></ion-input>
  </ion-item>

  <ion-item>
    <!-- <ion-label>Anexar Aviso de Férias</ion-label> -->
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-button expand="block" fill="clear" shape="round">
      <input [formControl]="file" (change)="fileChange($event)" type="file" class="file_customizada"
        accept="Application/pdf">
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="uploadFile()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="send-outline"></ion-icon>
      Enviar
    </ion-button>
  </ion-item>
</ion-content>